

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class:"form-signup" }) do |f| %>
            <% if flash[:error] %>
                <div class="alert alert-danger fade in" role="alert">
                  <%= flash[:error] %>
                </div>
            <% end %>
                  <%= devise_error_messages! %>

  <div class="panel panel-default">
    <div class="panel-body">
<h1 class="h1-signup">Edit <%= resource_name.to_s.humanize %></h1>
        
      <div class="form-group">
        <%= f.label :name, class:"label-signup" %>
        <%= f.text_field :name, class: "input-signup", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :email, class:"label-signup" %>
        <%= f.email_field :email, class: "input-signup", :autofocus => true %>
      </div>
      
      <div class="form-group">
        <%= f.label :current_password, class:"label-signup" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, class: "input-signup" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class:"label-signup" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, class: "input-signup", :autocomplete => "off" %>
      </div>
      <div class="form-group">
      <%= f.label :avatar, class:"label-signup" %> 
      <%= f.file_field :avatar, class: "input-signup file-field" %>
      <%= f.hidden_field :avatar_cache %>
      </div>


      </div>
  </div>
      <div class="form-group">
        <%= f.submit "Update", class: "button-signup" %>
      </div>

    

  
    <% end %>
