<div class="page-header">
<div class="image-profil">
<%= image_tag @user.avatar.url, class:"avatar" %>
</div>

<div class="name-profil">
<h1><%= @user.name %> <small id="<%= @user.id %>" title="<%= User.online(30).include?(@user) %>" class="online-on-off glyphicon glyphicon-off"></small></h1>
<h1><small>Account created <span><%= @user.created_at.strftime("%d %B %Y").downcase %></span></small></h1>
</div>
</div>

<% @user.links.each do |link| %>
 <div class="link row clearfix">
    <h2>
        <span><%= link_to link.title, link %></span><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> </small>
        </h2>
        </div>
<% end %>

