<div class="page-header">
<div class="">
<div class="card"><!-- Face 1 -->
  <div title="https://linkshare-noobcodeman.c9.io/users/show/<%= @user.id%>" onclick="Link();" class="card-face face-1 Linkjs"><!-- Avatar -->
    <div class="card-face__avatar"><!-- Bullet notification --><span id="<%= @user.id%>" title="<%= User.online(30).include?(@user) %>" class="online-on-off card-face__bullet glyphicon glyphicon-off"></span><!-- User avatar -->
    <img src="<%= @user.avatar.url %>" width="110" height="110" draggable="false"/></div><!-- Name -->
    <h2 class="card-face__name"><%= @user.name %></h2><!-- Title --><span class="card-face__title">
<% if @user.admin? %>
<%= "<span>Admin</span>".html_safe %>
<% end %>

</span><!-- Cart Footer -->
    <div class="card-face-footer">
    </div>
  </div>
</div>
</div>
<center>
<% @user.links.each do |link| %>
 <div class="link row clearfix">
    <h2>
        <span><%= link_to link.title, link %></span><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> </small>
        </h2>
        </div>
<% end %>

</center>