<div class="page-header">
<h1><a href="<%= @link.url or @link.file.url %>"><%= @link.title %></a></h1> 
<h1><a class="embedly-card" href="<%= @link.url or @link.file.url %>"><%= @link.title %></a><br></h1> 
<p class="text-muted"> <%= @link.description %> </p>
<h1><small><span class="pull-right">Submitted by <%= @link.user.name %></span></small></h1>
<br/>
</div>

<% if @link.user == current_user -%>
	<div class="btn-group">
		<%= link_to '<span  style="color:#5bc0de;">Edit</span>'.html_safe, edit_link_path(@link), class: "btn btn-default" %>
		<%= link_to '<span class="glyphicon glyphicon-trash" style="color:#d9534f;"></span>'.html_safe, @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>

<div class="btn-group pull-right upvotestyle">
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm upvotestyle" do %>
    <span class="glyphicon glyphicon-thumbs-up upvotestyle"></span>
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-down downvotestyle">
    <%= @link.get_downvotes.size %>
  <% end %>
</div>

<div class="watch-view-count">
  <br/>
  <%= "#{@link.impressionist_count} " %>
  <span class="glyphicon glyphicon-eye-open"></span>
</div>

<h3 class="comments_title">
  <%= @link.comments.count %> Comments
</h3>
 
<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>