<!DOCTYPE html>
<html>
<head>
  <title>LinkShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
   <%= javascript_include_tag 'bootstrap-switch.min.js'%>
   <%= javascript_include_tag 'application.js'%>
   <script type="text/javascript" src="//cdn.embed.ly/player-0.0.9.min.js"></script>
   <script type="text/javascript" src="//cdn.embed.ly/jquery.embedly.scrollplay-0.0.1.min.js"></script>
   <%= stylesheet_link_tag 'bootstrap-switch.min'%>
   <%= favicon_link_tag 'LinkShare-favicon4.ico' %>
   <meta name="google-site-verification" content="7xOJ9-ToaLzuR6O6_zVa_6fsoUShtdACy_JXVMm6HzM" />
</head>
<body>
	<header class="navbar navbar-default navbar-fixed-top" role="navigation">
		
		<div class="navbar-inner">
        <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "LinkShare", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
        	
			<%= form_tag links_path, :method => 'get', class:"navbar-form navbar-left form-control search_form" do %>
			<div class="form-group">
			<%= text_field_tag :search, params[:search], class:"tooltip-link2", autocomplete:"off" %>
            </div>
            <div class="form-group">
			<%= submit_tag "Search", class:"btn btn-default" %>
			</div>
			</script> 
			<% end %>
        		<% if user_signed_in? -%>
						<ul class="nav navbar-nav navbar-right">
							<li><%= link_to '<i style="color:#0084B4;" class="glyphicon glyphicon-link"></i>'.html_safe, new_link_path %></li>
							<li><%= link_to '<i style="color:#0084B4;" class="glyphicon glyphicon-globe"></i>'.html_safe, users_path %></li>
							<li><%= link_to '<i style="color:;" class="glyphicon glyphicon-user"></i>'.html_safe, edit_user_registration_path %></li>
							<li><%= link_to '<i style="color:;" class="glyphicon glyphicon-off"></i>'.html_safe, destroy_user_session_path, :method => :delete %></li>
						</ul>
					<% else -%>
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to 'Sign up', new_user_registration_path %></li>
							<li><%= link_to 'Sign in', new_user_session_path %></li>
						</ul>
					<% end -%>
        </nav>
      </div>
    </div>
  </header>
  <p>&nbsp</p>
    <p>&nbsp</p>

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

			<div id="content" class="col-md-9 center-block">
				<%= yield %>
			      <footer>

			      </footer>
			</div>
		</div>
	</div>
</body>
</html>